{
  "checks": {
    "metrics-cpu-pcnt-usage": {
      "type": "metric",
      "command": "{{ sensu_install_path }}/embedded/bin/metrics-cpu-pcnt-usage.rb",
      "subscribers": [
        "sensu_masters",
        "sensu_clients"
      ],
      "interval": 10,
      "handlers": ["relay"]
    },
    "metrics-disk-capacity": {
      "type": "metric",
      "command": "{{ sensu_install_path }}/embedded/bin/metrics-disk-capacity.rb",
      "subscribers": [
        "sensu_masters",
        "sensu_clients"
      ],
      "interval": 60,
      "handlers": ["relay"]
    },
    "metrics-interface": {
      "type": "metric",
      "command": "{{ sensu_install_path }}/embedded/bin/metrics-interface.rb",
      "subscribers": [
        "sensu_masters",
        "sensu_clients"
      ],
      "interval": 10,
      "handlers": ["relay"]
    }
  }
}
